{% extends 'core/base.html' %}
{% load static %}

{% block content %}

{% if posts %}
{% for post in posts %}
<div class="container my-5 post py-3">
  
   <div class="row">
    <h3 class="blue-bor col-md-10 order-md-1 order-2 ">{{post.title}}</h3>
    <p class="col-md-2 blue-bor order-md-2 order-1">Post ID: {{post.id}}</p>
  
  
  <p class="col-12 my-3 order-3">{{post.description}}</p>
   </div>
</div>
{% endfor %}
{% else %}
<h3 class="text-center my-5">No Post Available, Log In to become the Author of first post</h3>
 {% endif %}

{% endblock content %}

